h1 {
  color: rgb(133, 56, 5);
  font-style: italic;
}

.note {
  color: rgb(201, 12, 12);
  padding-top: 3px;
  font-size: 15px;
}

.newNote {
  color: greenyellow
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}